@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* 초기화 */
*{margin: 0; padding: 0; border: 0;}
html{width: 100%; height: 100%;  overflow-x: hidden; overflow: auto;  }
body{	width: 100%; height: 100%; font-family: 'Noto Sans KR','Dotum', sans-serif; font-size: 14px; color: #333333; line-height: 1.6; overflow-y: scroll; overflow-x: hidden; overflow: auto; }
img{margin: 0; padding: 0; border: 0;}
ul, ol, li{list-style: none;}
a{color: inherit;}
a, a:link{color: #333333; text-decoration: none;}
a:visited{color: #333333;}
a:hover, a:active{color: #333333; text-decoration: none;}
input, textarea, select, button{font-size: inherit; font-family: inherit; line-height: inherit;}
input:focus, button:focus, textarea:focus, select:focus{outline: none;}
button{background: none;}
label, button, input[type=submit]{cursor: pointer;}
table, td, th {border-collapse: collapse;}
em{font-style: normal;}
/* 공통 */
.cf:after{content: ''; display: block; clear: both;}
.cf{content: ''; display: block; clear: both;}
.fl{float: left;}
.fr{float: right;}
.guide{color: #939391;}
.up{color: #dd2929;}
.dw{color: #0051c7;}
.wh{background-color: #fff;}
.nav button.hamburger{display: none; position: absolute; top: 8px; left: 20px;}
.nav button.hamburger img{width: 50px;}
/* 햄버거 메뉴 */
#hamburgerWrap{z-index: 99999; position: absolute; top: 0; left: -90%; width: 88%; height: 100%; background: #ffffff; font-size: 16px; display: none;}
#hamburgerWrap > ul{border-top: 1px solid #d3d3d3; }
#hamburgerWrap .direct2 > li a{display: block; width: 92%; border-bottom: 1px solid #f2f2f2; color: #2f2f2f; padding:10px 0 10px 8%; font-size: 13px;}
#hamburgerWrap .direct2 > li a span{text-indent: -99999px; display: inline-block; width: 25px; height: 25px; margin-right:10px; }
#hamburgerWrap .direct2 > li a span.i1{background: url(../images/ico_1.png) no-repeat; background-size: 100%;}
#hamburgerWrap .direct2 > li a span.i2{background: url(../images/ico_2.png) no-repeat; background-size: 100%;}
#hamburgerWrap .direct2 > li a span.i3{background: url(../images/ico_3.png) no-repeat; background-size: 100%;}
#hamburgerWrap .direct2 > li a span.i4{background: url(../images/ico_4.png) no-repeat; background-size: 100%;}
#hamburgerWrap .direct2 > li a span.i5{background: url(../images/ico_5.png) no-repeat; background-size: 100%;}
#hamburgerWrap .direct2 > li a span.i6{background: url(../images/ico_6.png) no-repeat; background-size: 100%;}
#hamburgerWrap .direct2 > li a span.fr{text-indent:-40px; color: #888888}
#hamburgerWrap p.fr{color: #888888; font-size: 11px; margin: 15px}
#hamburgerWrap .infoWrap{width: 100%; height: 145px;background: #292788; }
#hamburgerWrap .info{width: 90%; height:105px; padding:20px 5%; margin: 0px auto;}
#hamburgerWrap .info div{float: left; line-height: 15px; margin: 0 auto;}
#hamburgerWrap .info .notice{width: 20%; height:105px; text-align: center;}
#hamburgerWrap .info .notice span{display: block; width:28px; height: 30px; background: url(../images/ico_bell.png) no-repeat; background-size: 100%; margin: 28px auto; text-indent: -9999em; }
#hamburgerWrap .info .notice span.on{display: block; width:28px; height: 30px; background: url(../images/ico_bell_on.png) no-repeat; background-size: 100%; }
#hamburgerWrap .info .user{width: 100%; height:98px; margin: 0 auto;}
#hamburgerWrap .info .my{width: 60%; height:105px; text-align: center;}
#hamburgerWrap .info .my p{color: white; font-size: 11px; font-weight:400; }
#hamburgerWrap .info .my p.push{color: white; font-size: 11px; font-weight:400; margin-top: 10px; }
#hamburgerWrap .info .my p.push button{color: white; display: inline-block; width: 30px ; height: 20px; background: #fec107; }
#hamburgerWrap .info .setting{width: 20%; height:105px; text-align: center;}
#hamburgerWrap .info .setting span{display: block; width:28px; height: 30px; background: url(../images/ico_setting.png) no-repeat; background-size: 100%; margin: 28px auto; text-indent:-9999px; }

.dimmed{ z-index: 98; display: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,0.5);}
/* header */
#wrap{width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	background:#292788;
}
.headerwrap{
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 10;
	background-color: #292788;
}
#wrap .header{width: 100%; height: 60px; background-color: #292788; overflow: hidden; }

.header h1{float: left; display: block;  width: 100%; height: 60px; color: #fff; text-align: center; font-weight: normal; line-height: 57px; font-size: 24.7px}
.header h1 a{width: 160px; height: 30px; background: url(../images/logo.png) no-repeat; background-size: contain; text-indent: -999em;}
.header a{ float: left;  }
.header button{ float: left; height: 50px; position: absolute; top: 7px; left: 14px; }
.header button.back{ float: left; height: 50px; position: absolute; top: 7px; left: 14px; }
.header button img{ height: 25px; }
.header button.back img{ height: 25px; }
.header a.btnLogin{ position: absolute; top: 4px; right: 22%; display: block; height: 50px; line-height: 42px; color: #093687; font-size: 1.08em; z-index: 10; font-size: 16px; font-weight: 400 }

