#wrap{background: white;}
.container {width: 100%; height: 595px; position: relative}
article.industry .container .chart{width: 100%; height:100%; background: #292788}
article.industry p.tit{margin-top: 60px; font-size: 14px; color: #121212; padding: 13px;font-weight: bold;}
article.industry p.def{display: block; width: 94%; height:70px; padding: 3%; color: #5e5d5d; font-size: 12.5px;}

/* 차트 전체보기 */
article.industry #hidechart{ position: absolute; top:0px; left: -170px; width: 200px; height:100%; background: #f3f3f3; font-size: 16px;  /* display: none; */ box-sizing:border-box; border: 1px solid #aaaaaa; }
article.industry .hidechartbtn{display: block; position: absolute; top: 50%; left: 177px;  width: 44px; height: 67px; background: url(../images/slider.png) no-repeat; z-index: 9999; background-size: 100%}
article.industry .showchartbtn{display: none; position: absolute; top: 50%; left: 177px;  width: 44px; height: 67px; background: url(../images/slider_on.png) no-repeat; z-index: 9999; background-size: 100%}
article.industry #hidechart .tableWrap{width: 94%; height: 100%; padding: 3%;}
article.industry #hidechart .tableWrap table{width: 100%;}
article.industry #hidechart .tableWrap table tr{padding: 5%; }

article.industry #hidechart .tableWrap table tr td span{width:98%; height: 26px;display: block; margin: 0 auto;}
article.industry #hidechart .tableWrap table tr td:nth-child(1){padding-left: 10px; color: #373737; }
article.industry #hidechart .tableWrap table tr td:nth-child(2){text-align: center;  color: #373737; }
.per1 span{background: #ef2b34;}
.per2 span{background: #f98319;}
.per3 span{background: #f99719;}
.per4 span{background: #f9b219;}
.per5 span{background: #ffbd31;}
.per6 span{background: #ffd631;}
.per7 span{background: #ffe431;}
.per8 span{background: #fff331;}
.per9 span{background: #fdff31;}
.per10 span{background: #effd53;}
.per11 span{background: #eeff31;}
.per12 span{background: #dbff31;}
.per13 span{background: #c2ff31;}
.per14 span{background: #bde72a;}
.per15 span{background: #acbf29;}
.per16 span{background: #81bf29;}
.per17 span{background: #57bf29;}
.per18 span{background: #37bf29;}
.per19 span{background: #2ba933;}
.per20 span{background: #29bf61;}
.per21 span{background: #29bf78;}
article.total {margin-top: 60px;}
article.total .container .risk{width: 100%; padding-bottom:15px; background: #5e5ca6; }
article.total .container .risk p.tit{font-size: 14px; color: #ffffff; padding: 13px 0  17px 15px; }
article.total .container .risk .riskboxWrap{width: 95%; height: 93px; margin: 0 auto; background: white;}
article.total .container .risk .riskboxtit{width: 100%; height: 25px;  background: #e6e5e5;}
article.total .container .risk .riskboxtit p{display: block; float: left; font-size: 10px; text-align: center; line-height: 24px;}
article.total .container .risk .riskboxtit p.tit1{width:27%; height: 25px;}
article.total .container .risk .riskboxtit p.tit2{width:15%; height: 25px;}
article.total .container .risk .riskboxtit p.tit3{width:58%; height: 25px;}
article.total .container .risk .riskcontents {width: 96%; padding: 4px 2%; height: 60px; }
article.total .container .risk .riskcontents p {float: left;font-size: 12px; text-align: center}
article.total .container .risk .riskcontents p.score {width:27%; height: 97%; font-size: 18px; font-weight:bold; line-height: 60px; }
article.total .container .risk .riskcontents p.notice {width:15%; height: 97%; background: #2996bf; color: white; line-height: 60px; font-size: 18px; font-weight:bold}
article.total .container .risk .riskcontents p.txt {width:54%; padding:0 2%; height: 78px;  font-size: 9px; text-align: left;}


		/* 레이아웃2 */
.risktab{display: none; position: relative; width: 100%; background: #ffffff; margin-top: 10px;}
.risktab > .tabMenu{ position: relative; width: 90%; margin: 0 auto; height: 30px;}
.risktab > .tabMenu .tab{position: absolute; top: 0; left: 0; width: 50%; height: 30px;  color: #292788; text-align: center; line-height: 30px; font-size: 12px;  cursor: pointer;
 }
.risktab > .tabMenu .tab.active{color: #ffffff;  background: #292788}
.risktab > .tabMenu .tab1{border: 1px solid #292788; border-top-left-radius : 10px; border-bottom-left-radius : 10px; }
 .risktab > .tabMenu .tab2{left: 50%; border: 1px solid #292788; border-top-right-radius : 10px; border-bottom-right-radius : 10px; }
.risktab > .content{position: absolute; top: 32px; left: 0; width: 100%; height: auto; }
			/* 콘텐트1 */
.risktab .content .content1{display: none; position: absolute; top: 0px; left: 0px; background: #ffffff; width: 94%; height: 375px; padding: 3%;}
.risktab .content .content1 .tablehead{width: 100%; height: 30px; background: #e6e5e5; border-top: 1px solid #d8d8d8;}
.risktab .content .content1 .tablehead div{float: left; height: 30px; text-align: center; font-size: 10px; line-height: 28px;}
.risktab .content .content1 .tablehead .th1{width:20%;}
.risktab .content .content1 .tablehead .th2{width:25%;}
.risktab .content .content1 .tablehead .th3{width:54%;}
.risktab .content .content1 .tablebody{width: 100%; height: 500px; background: #fff; /* border-top: 1px solid #d8d8d8; */}
.risktab .content .content1 .tableline{width: 100%; text-align:center; height: 67px; background: #fff; border-bottom: 1px solid #d8d8d8; }
.risktab .content .content1 .tableline1{width: 100%; text-align:center; height:  55px; background: #fff; border-bottom: 1px solid #d8d8d8; }
.risktab .content .content1 .tableline2{width: 100%; text-align:center; height: 83px; background: #fff; border-bottom: 1px solid #d8d8d8; }
.risktab .content .content1 .tableline div{float: left; height: 100%; }
.risktab .content .content1 .tableline .th1{width:20%; border-right: 1px solid #dddddd; }
.risktab .content .content1 .tableline .th2{width:25%; border-right: 1px solid #dddddd;}
.risktab .content .content1 .tableline .th3{width:52%; text-align: left; font-size: 10px;}
.risktab .content .content1 .tableline .th1 p{padding: 1%; line-height: 31px; color: #595959;}
.risktab .content .content1 .tableline2 .th1 p{padding: 1%; line-height: 40px; color: #595959;}
.risktab .content .content1 .tableline1 .th1 p{padding: 1%; line-height: 25px; color: #595959;}
.risktab .content .content1 .tableline .th2 p{ line-height: 67px; color: white;}
.risktab .content .content1 .tableline1 .th2 p{ line-height: 55px; color: white;}
.risktab .content .content1 .tableline2 .th2 p{ line-height: 83px; color: white;}
.risktab .content .content1 .tableline .th3 p{padding: 1%; }
.risktab .content .content1 .tableline .th1 p{display: block; width: 100%; height: 49%;}
.risktab .content .content1 .tableline .th1 p:nth-child(1){border-bottom: 1px solid #dddddd}
.risktab .content .tableline .l1{background:#29bf78;}
.risktab .content .tableline .l2{background:#2996bf;}
.risktab .content .tableline .l3{background:#ffbd31;}
.risktab .content .tableline .l4{background:#f98319;}
.risktab .content .tableline .l5{background:#ef2b34;}
.risktab .content .tableline .l6{background:#f4f4f4; color: #000000;}

			/* 콘텐트2 */
.risktab .content .content2{display: none; position: absolute; top: 0px; left: 0px; background: #ffffff; width: 94%; padding: 3%;}
 .risktab .content .content2{display: none; position: absolute; top: 0px; left: 0px; background: #ffffff; width: 94%; height: 220px; padding: 3%;}
.risktab .content .content2 .tablehead{width: 100%; height: 30px; background: #e6e5e5; border-top: 1px solid #d8d8d8;}
.risktab .content .content2 .tablehead div{float: left; height: 30px; text-align: center; font-size: 10px; line-height: 28px;}
.risktab .content .content2 .tablehead .th1{width:100%;}
.risktab .content .content2 .tablebody{width: 100%; height: 200px; background: #fff; /* border-top: 1px solid #d8d8d8; */}
.risktab .content .content2 .tableline div{float: left; height: 100%; }
.risktab .content .content2 .tableline{width: 100%; text-align:center; height: 30px; background: #fff; border-bottom: 1px solid #d8d8d8; }
.risktab .content .content2 .tableline1{width: 100%; text-align:center; height: 40px; background: #fff; border-bottom: 1px solid #d8d8d8; }
.risktab .content .content2 .tableline .th1{width:30%; border-right: 1px solid #dddddd; line-height: 30px; }
.risktab .content .content2 .tableline .th1 p{font-size: 10px; }
.risktab .content .content2 .tableline .th2 p{font-size: 10px; }
.risktab .content .content2 .tableline1 .th1{width:30%; border-right: 1px solid #dddddd; line-height: 40px; }
.risktab .content .content2 .tableline .th2{width:69%; line-height: 30px;}
.risktab .content .content2 .tableline1 .th2{width:69%; line-height: 20px;}
.risktab .content .content2 .tableline .th1 p{color: White;}
.risktab .content .content2 .tableline1 .th1.l6 p{color: #000000;}
.risktab .content .content2 .tableline .th2 p{text-align: left; padding-left:5%; color: #5e5d5d;}

article.stock .container {height: 100%;}
article.stock p.tit{margin-top: 60px; font-size: 14px; color: #121212; padding: 13px;font-weight: bold;}
article.stock .content {width: 94%;height:100%;padding:0 3%; background: #ffffff; }
article.stock .content .tablehead{width: 100%;  height: 30px; background: #e6e5e5; border-top: 1px solid #d8d8d8; font-size: 10px;  line-height: 30px;}
article.stock .content .tablehead div{float: left; text-align:center;}
article.stock .content .tablehead .th1{width:15%;}
article.stock .content .tablehead .th2{width:25%;}
article.stock .content .tablehead .th3{width:15%;}
article.stock .content .tablehead .th4{width:14%;}
article.stock .content .tablehead .th5{width:14%;}
article.stock .content .tablehead .th6{width:17%;}
article.stock .content .tablebody{width: 100%; height: 500px; background: #fff;font-size: 9px; color: #595959;}
article.stock .content .tablebody .tableline {width: 100%; text-align:center; height: 30px; background: #fff; border-bottom: 1px solid #d8d8d8;  }
article.stock .content .tablebody .tableline div {float: left; line-height: 30px;}
article.stock .content .tablebody .td1{width:15%;}
article.stock .content .tablebody .td2{width:25%;}
article.stock .content .tablebody .td3{width:15%;}
article.stock .content .tablebody .td4{width:14%;}
article.stock .content .tablebody .td5{width:14%;}
article.stock .content .tablebody .td6{width:17%; background:#fabac8; }

/* global */
article.global .container {height: 100%;}
article.global p.tit{margin-top: 60px; font-size: 13px; color: #121212; padding: 15px;font-weight: bold;}
		/* 레이아웃2 */
.globaltab{display: none; position: relative; width: 100%; background: #ffffff; }
.globaltab > .tabMenu{ position: relative; width: 94%; margin: 0 auto; height: 30px;}
.globaltab > .tabMenu .tab{position: absolute; top: 0; left: 0; width: 33.3%; height: 30px;  color: #292788; text-align: center; line-height: 30px; font-size: 12px;  cursor: pointer; }
.globaltab > .tabMenu .tab.active{color: #ffffff;  background: #292788}
.globaltab > .tabMenu .tab1{border: 1px solid #292788; border-top-left-radius : 10px; border-bottom-left-radius : 10px; }
.globaltab > .tabMenu .tab2{border-top: 1px solid #292788;border-bottom: 1px solid #292788; left: 33.3%; }
 .globaltab > .tabMenu .tab3{left: 66.6%; border: 1px solid #292788; border-top-right-radius : 10px; border-bottom-right-radius : 10px; }
.globaltab > .content{position: absolute; top: 40px; left: 0; width: 100%; height: auto; }
			/* 콘텐트1 */
.globaltab .content .content1{display: none; position: absolute; top: 0px; left: 0px; background: #ffffff; width: 94%; height: auto; padding: 3%;}
.globaltab .content .content1 .tablehead{width: 100%; height: 30px; background: #e6e5e5; border-top: 1px solid #d8d8d8;}
.globaltab .content .content1 .tablehead div{float: left; height: 30px; text-align: center; font-size: 10px; line-height: 28px;}
.globaltab .content .content1 .tablehead .th1{width:25%;}
.globaltab .content .content1 .tablehead .th2{width:20%;}
.globaltab .content .content1 .tablehead .th3{width:27%;}
.globaltab .content .content1 .tablehead .th4{width:28%;}
.globaltab .content .content1 .tablebody{width: 100%; background: #fff;font-size: 10px}
.globaltab .content .content1 .tableline{width: 100%; text-align:center; height: 25px; background: #fff; border-bottom: 1px solid #d8d8d8; }
.globaltab .content .content1 .tableline div{float: left; height: 100%; color: #595959;  line-height: 25px;}
.globaltab .content .content1 .tableline .tr1{width:25%;}
.globaltab .content .content1 .tableline .tr2{width:20%;}
.globaltab .content .content1 .tableline .tr3{width:27%;}
.globaltab .content .content1 .tableline .tr4{width:28%; background-color: #fbc4d0;}
			/* 콘텐트2 */
.globaltab .content .content2{display: none; position: absolute; top: 0px; left: 0px; background: #ffffff; width: 94%; height: auto; padding: 3%;}
.globaltab .content .content2 .tablehead{width: 100%; height: 30px; background: #e6e5e5; border-top: 1px solid #d8d8d8;}
.globaltab .content .content2 .tablehead div{float: left; height: 30px; text-align: center; font-size: 10px; line-height: 28px;}
.globaltab .content .content2 .tablehead .th1{width:25%;}
.globaltab .content .content2 .tablehead .th2{width:20%;}
.globaltab .content .content2 .tablehead .th3{width:27%;}
.globaltab .content .content2 .tablehead .th4{width:28%;}
.globaltab .content .content2 .tablebody{width: 100%; background: #fff;font-size: 10px}
.globaltab .content .content2 .tableline{width: 100%; text-align:center; height: 25px; background: #fff; border-bottom: 1px solid #d8d8d8; }
.globaltab .content .content2 .tableline div{float: left; height: 100%; color: #595959;  line-height: 25px;}
.globaltab .content .content2 .tableline .tr1{width:25%;}
.globaltab .content .content2 .tableline .tr2{width:20%;}
.globaltab .content .content2 .tableline .tr3{width:27%;}
.globaltab .content .content2 .tableline .tr4{width:28%; background-color: #fbc4d0;}
			/* 콘텐트3 */
.globaltab .content .content3{display: none; position: absolute; top: 0px; left: 0px; background: #ffffff; width: 94%; height: auto; padding: 3%;}
.globaltab .content .content3 .tablehead{width: 100%; height: 30px; background: #e6e5e5; border-top: 1px solid #d8d8d8;}
.globaltab .content .content3 .tablehead div{float: left; height: 30px; text-align: center; font-size: 10px; line-height: 28px;}
.globaltab .content .content3 .tablehead .th1{width:25%;}
.globaltab .content .content3 .tablehead .th2{width:20%;}
.globaltab .content .content3 .tablehead .th3{width:27%;}
.globaltab .content .content3 .tablehead .th4{width:28%;}
.globaltab .content .content3 .tablebody{width: 100%; background: #fff;font-size: 10px}
.globaltab .content .content3 .tableline{width: 100%; text-align:center; height: 25px; background: #fff; border-bottom: 1px solid #d8d8d8; }
.globaltab .content .content3 .tableline div{float: left; height: 100%; color: #595959;  line-height: 25px;}
.globaltab .content .content3 .tableline .tr1{width:25%;}
.globaltab .content .content3 .tableline .tr2{width:20%;}
.globaltab .content .content3 .tableline .tr3{width:27%;}
.globaltab .content .content3 .tableline .tr4{width:28%; background-color: #fbc4d0;}
/* detail */
article.detail .container {height: 100%;}
article.detail p.tit{margin-top: 60px; font-size: 13px; color: #121212; padding: 15px;font-weight: bold;}
article.detail .detailWrap {width: 100%; font-size: 10px;}
article.detail .detailWrap .headerWrap{width: 100%; height:30px; background: #e6e5e5; border-top: 1px solid #d8d8d8; }
article.detail .detailWrap .headerWrap div{float: left; line-height: 30px;}
article.detail .detailWrap .headerWrap .fixheader {width:38%; text-align: center;}
article.detail .detailWrap .headerWrap .slideheaderWrap{width: 50%; height: 30px; text-align: center;  overflow: hidden; position: relative;}
article.detail .detailWrap .headerWrap .arrow_l{width: 6%;text-align: center;}
article.detail .detailWrap .headerWrap .arrow_R{width: 6%;text-align: center;}
article.detail .detailWrap .headerWrap .arrow_l a{text-indent:-9999em; display: block; width: 15px; height: 15px; background: url(../images/arrow_l.png); margin:7px auto}
article.detail .detailWrap .headerWrap .arrow_R a{text-indent:-9999em; display: block; width: 15px; height: 15px; background: url(../images/arrow_R.png); margin:7px auto}
article.detail .detailWrap .headerWrap .fixheader div{float: left;}
article.detail .detailWrap .headerWrap .slideheader div{float: left;}
article.detail .detailWrap .headerWrap .fixheader .th1{width: 50%;}
article.detail .detailWrap .headerWrap .fixheader .th2{width: 50%;}
article.detail .detailWrap .headerWrap .slideheaderWrap .hdslide{position: absolute; top:0; left:0; width: 300%; height: 30px;}
article.detail .detailWrap .headerWrap .slideheaderWrap .hdslide div{float: left; width: 11%;}
article.detail .detailWrap .headerWrap .slideheaderWrap .hdslide .th8{float: left; width: 11%;}
article.detail .detailWrap .headerWrap .slideheaderWrap .hdslide .th9{float: left; width: 33.33%;}
article.detail .detailWrap .tablelineWrap{width: 100%; height: 25px; background: #fff; font-size: 10px;border-bottom: 1px solid #d8d8d8;}
article.detail .detailWrap .tablelineWrap div{float: left;}
article.detail .detailWrap .fixbody{width: 38%; font-size: 10px;}
article.detail .detailWrap .arrowline{width: 6%; height: 100%;  font-size: 10px;}
article.detail .detailWrap .arrowline span{text-indent: -9999em; width: 100%; height: 10px; display: block;}
article.detail .detailWrap .fixbody .fixline{width: 100%; height: 100%; text-align: center; line-height: 25px;}
article.detail .detailWrap .fixbody .fixline div{float: left;}
article.detail .detailWrap .fixbody .fixline .td1{width: 50%;}
article.detail .detailWrap .fixbody .fixline .td2{width: 50%;}
article.detail .detailWrap .slidebodyWrap {position: relative; width: 50%; text-align:center; overflow: hidden; height: 25px; line-height: 25px;}
article.detail .detailWrap .slidebodyWrap .bdslide{width: 300%; position: absolute; top:0px; left:0;}
article.detail .detailWrap .slidebodyWrap .bdslide .slideline{width: 100%; height: 25px;}
article.detail .detailWrap .slidebodyWrap .bdslide .slideline div{float: left;  width: 11%;}
article.detail .detailWrap .slidebodyWrap .bdslide .slideline .td8{float: left; width: 11%; }
article.detail .detailWrap .slidebodyWrap .bdslide .slideline .td9{float: left; width: 33.33%; }

article.notice .container {height: 100%;}
article.notice .container .notice{margin-top: 60px;  width: 100%; }
article.notice .container .noticeline{width: 94%; padding: 1% 3%;  border-bottom: 1px solid #e0e0e0}
article.notice .container .noticeline p{font-size: 13px; }
article.notice .container .noticeline span{font-size: 10px; color: #989898; }
article.notice .container a{display: block; width: 80%; height: 50px; background:#292788; color: #e0e0e0; margin:30px auto; text-align:Center;  line-height: 50px;}
article.notice .container .noticework{width: 92%; padding: 4%; border-bottom:1px solid #e0e0e0 }
article.notice .container .noticework p{font-size: 10px; color: #2f2f2f;}

article.setting .container {height: 100%;}
article.setting p.tit{margin-top: 60px; font-size: 13px; color: #121212; padding: 15px;font-weight: bold;}
article.setting .settingline{width: 92%; padding: 1% 4%; height: 50px; }
article.setting .settingline .box1{width: 70%; float: left; }
article.setting .settingline .box2{width: 30%; float: right; text-align: right}
article.setting .settingline .box1 p{font-size: 12px; color: #2f2f2f;}
article.setting .settingline .box1 span{font-size: 10px; color: #858586;}
article.setting .container .settingline.br{border-bottom: 1px solid #e0e0e0; margin-bottom: 40px; }
article.setting a{width: 80%; height: 50px; display: block; background:#ef1b4b; color: white; margin: 0 auto; text-align: center; line-height: 50px;}
article.setting .switch {position: relative; display: inline-block; width: 50px; height: 20px;}
article.setting .switch input {display:none;}
article.setting .slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #c3c3c3; transition:.4s;}
/*스위치버튼 안쪽에 동그란모양*/
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 25px;
  left: 0;
  bottom: 0;
  background: #292788;
  transition: .4s;
}

/*체크된(on된)스위치바탕*/
input:checked + .slider {
  background: #c3c3c3;
}

/*스위치버튼을 클릭하면 우측으로 26px이동*/
input:checked + .slider:before {
  transform: translateX(26px);
}
