* { margin:0; padding:0; }
body > p { font-size:24px; color:#333333; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }

body > div { font-size:20px; color:red; cursor:pointer; }
body > div:hover { font-size:24px; color:yellow; }
